<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alper Mumcular Resume</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        .a4-container {
            width: 21cm;
            height: 29.7cm;
            padding: 30px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.226);
            flex-direction: column;  
            margin-left: auto;
            margin-right: auto;     
        }

        .no-margin {
            margin-top: 0in;
            margin-right: 0in;
            margin-bottom: 0in;
            margin-left: 0in;
        }

        .section-margin{
            margin-top: 0in;
            margin-right: 0in;
            margin-bottom: 4.6pt;
            margin-left: 0in;
        }

        .small-margin{
            margin-top: 0in;
            margin-right: 0in;
            margin-bottom: 1pt;
            margin-left: 0in;
        }
    </style>
</head>
<body>
    <div class="a4-container">
        <p class="no-margin" style="text-align:center; font-size:20.0pt;">Alper Mumcular (He/Him)</p>
        <p class="no-margin" style="text-align:center;">Brooklyn, NY | (464) 244-4954 | <u><span style="color:#0070C0;">am14533@nyu.edu</span></u> | <a href="https://www.linkedin.com/in/alper-mumcular-398281226/"><span style="color:#0070C0;">LinkedIn</span></a> <a href="https://www.linkedin.com/in/alper-mumcular-398281226/"></a> | <a href="https://github.com/AlperMumcular"></a><a href="https://github.com/AlperMumcular"><span style="color:#0070C0;">GitHub</span></a> <a href="https://github.com/AlperMumcular"></a></p>
        <p class="section-margin" style="text-align:left;">Education _____________________________________________________________________</p>
        <p class="small-margin" style="text-align:left;">Master of Science in Computer Science &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sept 2024 - June 2026 (exp)</p>
        <p class="small-margin">New York University, Brooklyn, NY</p>
        <p class="small-margin">▪ Coursework: Software Engineering, Machine Learning, Cloud Computing</p>
        <p class="small-margin">▪ Academic scholarship recipient by NYU Tandon School of Engineering</p>
        <p class="small-margin">&nbsp;</p>
        <p class="small-margin" style="text-align:left;">Bachelor of Science in Computer Engineering, Magna Cum Laude&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sept 2019 - June 2024</p>
        <p class="small-margin">Bilkent University, Ankara, Turkey</p>
        <p class="small-margin">▪ Coursework: Artificial Intelligence, Machine Learning, Learning for Robotics, Parallel Computing, Software Architecture Design, Algorithms, Database Systems, Operating Systems, Computer Organization, Digital Design</p>
        <p class="small-margin">▪ Ranked in the top 0.1% among 2.5 million participants in the national university entrance exam and received academic scholarship throughout the program</p>
        <p class="section-margin">&nbsp;</p>
        <p class="section-margin" style="text-align:left;">Skills _________________________________________________________________________</p>
        <p class="small-margin">Programming: Java, C, C#, C++, Python, JavaScript, HTML, MIPS, SystemVerilog, SQL, PHP, UNIX/LINUX</p>
        <p class="small-margin">Framework: Spring, Django, Node.js, React, .NET</p>
        <p class="small-margin">Cloud Computing &amp; Version Control: GCP, AWS, Azure, Git, GitHub, VS Code</p>
        <p class="section-margin">&nbsp;</p>
        <p class="section-margin" style="text-align:left;">Experience _____________________________________________________________________</p>
        <p class="small-margin">Undergraduate Research Assistant - Bilkent University, Ankara, TR</p>
        <p class="small-margin">▪ HubReview&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sept 2023 - June 2024</p>
        <p class="small-margin" style="margin-left: 25pt;"><em>Advisor: Asst. Prof. Dr. Eray Tuzun</em> </p>
        <p class="small-margin" style="margin-left: 25pt;">o Implemented a modern code review tool that addresses the shortcomings of GitHub&rsquo;s code review flows while maintaining a tight integration with GitHub&rsquo;s platform, creating a more comprehensive, efficient, enjoyable, and intuitive code review experience</p>
        <p class="small-margin">▪ Enhancing Cooperative Autonomy: A Comprehensive Study of MARL Algorithms&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Sept 2023 - Jan 2024</p>
        <p class="small-margin" style="margin-left: 25pt;"><em>Advisor: Asst. Prof. Dr. Ozgur S. Oguz</em> </p>
        <p class="small-margin" style="margin-left: 25pt;">o Researched the effects of sparse &amp; dense reward functions on the learning performance of the algorithms</p>
        <p class="small-margin" style="margin-left: 25pt;">o Built various Multi-Agent Reinforcement Learning (MARL) algorithms and created a hybrid algorithm that consists of QMIX and Value-Decomposition Network (VDN) algorithms</p>
        <p class="section-margin">&nbsp;</p>
        <p class="small-margin">▪ Software Engineer Intern - Arcelik Global, Istanbul, TR&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; July 2023 - Sept 2023</p>
        <p class="small-margin" style="margin-left: 25pt;">o Built a full-stack application for the company&rsquo;s asset management platform using React, MSSQL, and Spring Boot, making the platform more maintainable and efficient</p>
        <p class="small-margin" style="margin-left: 25pt;">o Developed an algorithm that finds the optimal solution for the watercolor sorting game using the A* search algorithm during company hackathon, improving the solver&apos;s efficiency by 15%</p>
        <p class="section-margin">&nbsp;</p>
        <p class="small-margin">▪ Machine Learning Engineer Intern - Havelsan, Ankara, TR&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; June 2022 - July 2022</p>
        <p class="small-margin" style="margin-left: 25pt;">o Estimated average aircraft emissions using Decision Tree Regressor, Multi-Linear Regression, and Random Forest Regression models; classified aircraft damage risk using Convolutional Neural Network, Decision Tree Classifier, and Logistic Regression algorithms</p>
        <p class="small-margin" style="margin-left: 25pt;">o Applied data analysis, data augmentation, and normalization techniques using Keras, Numpy, Pandas, and Matplotlib for comprehensive data analysis, involving new features to improve the prediction accuracy of the models</p>
        <p class="section-margin">&nbsp;</p>
        <p class="small-margin">Undergraduate Teaching Assistant - Bilkent University, Ankara, TR</p>
        <p class="small-margin">▪ CS 224 - Computer Organization, Class size: 136&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Feb 2022 - Apr 2022</p>
        <p class="small-margin" style="margin-left: 25pt;">o Assisted students construct their codes related to lab questions as well as answering MIPS Assembly and SystemVerilog-related queries during lab hours</p>
        <p class="small-margin">▪ CS 102 - Algorithms and Programming II, Class size: 38&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; June 2021 - Aug 2021</p>
        <p class="small-margin" style="margin-left: 25pt;">o Helped students with their lab assignments based on Java and solving bugs in their code</p>
        <p class="section-margin">&nbsp;</p>        
    </div>
</body>
</html>
